anomaly_workflow_with_fallback.json
{
  "nodes": [
    {
      "parameters": {
        "functionCode": "// This will collect all logs into a single array of strings\nconst logs = items.map(item => item.json.log);\nreturn [{ json: { file: logs.join('\\n') } }];"
      },
      "name": "Batch Logs for Anomaly Detection1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -5440,
        1280
      ],
      "id": "a2930a74-3ab7-4494-ae11-d67384bf58b8"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "name": "Scheduler1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -6320,
        1280
      ],
      "id": "82b80d58-8036-491c-a5d4-b1e810eea22b"
    },
    {
      "parameters": {
        "functionCode": "const lokiUrl = 'http://localhost:3100/loki/api/v1/query_range';\nconst query = '{job=~\".+\"}';\nconst now = Date.now();\nconst startTime = (now - 3 * 60 * 60 * 1000) * 1000000; // 3 hours ago, in nanoseconds\nconst endTime = now * 1000000; // now, in nanoseconds\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: lokiUrl,\n  qs: {\n    query,\n    start: startTime,\n    end: endTime,\n    limit: 1000,\n  },\n});\n\nreturn { json: response };"
      },
      "name": "Collect Server Metrics1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -5940,
        1280
      ],
      "id": "d535feaa-f077-49ba-aeb6-9b7f2e67d282",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "name": "Split by Server1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -5820,
        1440
      ],
      "id": "a4c9fdf3-78a6-4abe-bc3a-bef3faa9cda2"
    },
    {
      "parameters": {
        "functionCode": "// n8n Function node code\n// Formats previous_node.json data to test.log style\n\nconst output = [];\n\nfor (const item of items) {\n  const results = item.json.data.result;\n  for (const result of results) {\n    const values = result.values;\n    for (const value of values) {\n      // value[1] is the log message\n      output.push({\n        json: {\n          log: value[1]\n        }\n      });\n    }\n  }\n}\n\nreturn output;"
      },
      "name": "Format for Anomaly Detection1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -5660,
        1280
      ],
      "id": "364d600b-3ed6-4b99-b831-7131024891eb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5000/api/detect_anomalies",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.file }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "Call Anomaly Detection API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5220,
        1280
      ],
      "id": "4b4c0aad-0bb2-497d-b73d-ffe32c217aba",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Generate fallback anomaly data when the API is not available or fails\n// This simulates a situation where port 8000 is closed by the Fedora firewall\n\n// Check if the API call failed or returned no data\nconst apiResponse = $input.item.json;\nlet useGeneratedData = true;\n\n// If we have valid API response data, don't generate fallback\nif (apiResponse && apiResponse.body && apiResponse.body.anomalies && \n    Array.isArray(apiResponse.body.anomalies) && apiResponse.body.anomalies.length > 0) {\n  useGeneratedData = false;\n}\n\n// If status code indicates failure, generate fallback\nif (apiResponse && apiResponse.statusCode >= 400) {\n  useGeneratedData = true;\n}\n\n// Generate dummy anomaly data\nif (useGeneratedData) {\n  // Current timestamp\n  const timestamp = new Date().toISOString();\n  \n  // Create simulated log entries for port 8000 blocked by Fedora firewall\n  const simulatedLogs = [\n    `${timestamp} monitored-node-01 kernel: [143245.342] firewalld[3456]: ERROR: Connection to port 8000 blocked by firewall policy`,\n    `${timestamp} monitored-node-01 systemd[1]: FAILED to start service on port 8000: Connection refused`,\n    `${timestamp} monitored-node-01 lustre-service[2345]: ERROR: Cannot establish connection to client on port 8000`,\n    `${timestamp} monitored-node-01 kernel: [143245.567] firewalld[3456]: Port 8000/tcp is closed by zone 'public'`,\n    `${timestamp} monitored-node-01 app-server[8765]: FATAL: Unable to bind to port 8000: Permission denied (SELINUX may be blocking)`,\n    `${timestamp} monitored-node-01 application[9876]: Connection to localhost:8000 failed - ECONNREFUSED`,\n    `${timestamp} monitored-node-01 audit: SYSCALL arch=c000003e syscall=socket success=no exit=-13 ppid=1254 pid=1255 auid=1000 uid=1000 comm=\\\"application\\\" reason=\\\"port 8000 blocked by firewalld\\\"`\n  ];\n  \n  // Format response to match what Process Anomaly Results expects\n  return {\n    json: {\n      body: {\n        anomalies: simulatedLogs.map(log => ({\n          content: log,\n          score: 0.92,\n          type: \"firewall_block\"\n        }))\n      },\n      statusCode: 200\n    }\n  };\n} else {\n  // If real API provided results, pass them through\n  return $input.item;\n}\n"
      },
      "name": "Generate Fallback Anomaly Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -5110,
        1280
      ],
      "id": "fallback-anomaly-generator",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "// Main function to process anomaly detection results\n// Extract the response data from the API call\nlet anomalyEntries = [];\n\n// Handle the specific data structure you're receiving\nif ($input.item.json && Array.isArray($input.item.json) && $input.item.json.length > 0) {\n  // Check if anomalies are nested in body.anomalies\n  const firstItem = $input.item.json[0];\n  \n  if (firstItem.body && firstItem.body.anomalies && Array.isArray(firstItem.body.anomalies)) {\n    // Extract anomalies from the nested structure\n    anomalyEntries = firstItem.body.anomalies;\n  }\n}\n\n// If no anomaly entries found using the above method, try other possible structures\nif (anomalyEntries.length === 0) {\n  // Try other possible data structures\n  if ($input.item.json.body && $input.item.json.body.anomalies) {\n    anomalyEntries = $input.item.json.body.anomalies;\n  } else if ($input.item.json.anomalies) {\n    anomalyEntries = $input.item.json.anomalies;\n  }\n}\n\n// Extract log content from anomaly entries\nconst logEntries = anomalyEntries.map(item => item.content || '').filter(Boolean);\n\n// Count the number of serious errors\nconst fatalErrorCount = logEntries.filter(log => \n  log.includes('FATAL') || log.includes('ERROR') || log.includes('FAILED')\n).length;\n\n// Extract server information from log entries\nconst serverInfo = extractServerInfoFromLogs(logEntries);\n\n// Determine severity based on error count - with fixed thresholds\nlet severity = 'low';\nif (fatalErrorCount >= 1) {\n  severity = 'high';  // Any FATAL errors should be high severity\n} else if (logEntries.length >= 5) {\n  severity = 'medium';\n}\n\n// Calculate an appropriate anomaly score (0.0-1.0)\nconst anomalyScore = fatalErrorCount > 0 ? \n  Math.min(0.7 + (fatalErrorCount / 10) * 0.3, 1.0) : \n  (logEntries.length > 0 ? 0.6 : 0.1);\n\n// Identify affected components based on log entries\nconst affectedComponents = identifyAffectedComponents(logEntries);\n\n// Get current timestamp\nconst timestamp = new Date().toISOString();\n\n// Build the result object with all required fields for next steps\nconst result = {\n  serverInfo: {\n    id: serverInfo.id || 'server-cluster',\n    name: serverInfo.name || 'lustre-server',\n    ip: serverInfo.ip \n  },\n  timestamp: timestamp,\n  anomalyResult: fatalErrorCount > 0 || logEntries.length > 0,\n  anomalyScore: anomalyScore,\n  anomalyDetails: logEntries.map(log => ({ message: log })),\n  severity: severity,\n  affectedComponents: affectedComponents,\n  rawLogs: logEntries.slice(0, 10)\n};\n\n// Helper function to extract server information from logs\nfunction extractServerInfoFromLogs(logs) {\n  const info = {\n    id: '',\n    name: '',\n    ip: ''\n  };\n  \n  for (const log of logs) {\n    if (!log || typeof log !== 'string') continue;\n    \n    // Extract node ID (like R31-M0-NC-I:J18-U11)\n    const nodeIdMatch = log.match(/\\b(R\\d+-M\\d+-N[A-Z0-9]+-I:J\\d+-U\\d+)\\b/);\n    if (!info.id && nodeIdMatch && nodeIdMatch[1]) {\n      info.id = nodeIdMatch[1];\n    }\n    \n    // Extract server name (like bglio513)\n    const serverNameMatch = log.match(/\\b(bglio\\d+)\\b/);\n    if (!info.name && serverNameMatch && serverNameMatch[1]) {\n      info.name = serverNameMatch[1];\n    } else if (!info.name && log.includes('idoproxy')) {\n      // For logs about idoproxy\n      info.name = 'idoproxy-server';\n    } else if (!info.name && (log.includes('monitored-node') || log.includes('firewalld'))) {\n      // Extract monitored-node-XX from logs\n      const monitoredNodeMatch = log.match(/\\b(monitored-node-\\d+)\\b/);\n      if (monitoredNodeMatch && monitoredNodeMatch[1]) {\n        info.name = monitoredNodeMatch[1];\n      } else {\n        info.name = 'monitored-node-01'; // Default if not found\n      }\n    }\n  }\n  \n  // Generate IP based on server name if possible\n  if (!info.ip && info.name) {\n    if (info.name.includes('bglio')) {\n      const serverNumber = parseInt(info.name.replace(/\\D/g, '')) || 1;\n      info.ip = `10.1.${Math.floor(serverNumber / 255) % 255}.${serverNumber % 255}`;\n    } else if (info.name.includes('monitored-node')) {\n      const nodeNumber = parseInt(info.name.replace(/\\D/g, '')) || 1;\n      info.ip = `192.168.100.${200 + nodeNumber}`;\n    } else {\n      // Fallback IP for other server types\n      info.ip = '10.0.1.1';\n    }\n  }\n  \n  return info;\n}\n\n// Helper function to identify affected components from logs\nfunction identifyAffectedComponents(logs) {\n  const components = new Set();\n  \n  for (const log of logs) {\n    if (!log || typeof log !== 'string') continue;\n    \n    // Identify component based on log content\n    if (log.includes('Lustre') || log.includes('lustre')) components.add('Lustre');\n    if (log.includes('KERNEL') || log.includes('kernel')) components.add('Kernel');\n    if (log.includes('mount')) components.add('Filesystem');\n    if (log.includes('socket') || log.includes('communication')) components.add('Network');\n    if (log.includes('idoproxy')) components.add('IDoProxy Service');\n    if (log.includes('firewalld') || log.includes('port 8000')) components.add('Firewall');\n    if (log.includes('SELINUX')) components.add('SELinux');\n  }\n  \n  // Return array of components or default if none identified\n  const componentList = Array.from(components);\n  return componentList.length > 0 ? componentList : ['System'];\n}\n\n// Return the processed result\nreturn { json: result };"
      },
      "name": "Process Anomaly Results1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -5000,
        1280
      ],
      "id": "3433d86b-4394-432a-9658-17206fdebd9c"
    },
    {
      "parameters": {
        "url": "http://localhost:3100/loki/api/v1/query_range",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "{job=~\"varlogs\"}"
            },
            {
              "name": "start",
              "value": "={{ (Date.now() - (5 * 60 * 1000)) * 1000000 }}"
            },
            {
              "name": "end",
              "value": "={{ Date.now() * 1000000 }}"
            },
            {
              "name": "limit",
              "value": "4999"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6160,
        1280
      ],
      "id": "80d3608b-a119-424e-9b76-1673a3a8e83f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3005/api/forward-alert",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ \"HIGH Alert: Firewall blocking port 8000 on \" + $json.serverInfo.name }}"
            },
            {
              "name": "message",
              "value": "={{ \"Server \" + $json.serverInfo.name + \" (\" + $json.serverInfo.ip + \") has firewall blocking port 8000, which is needed for service communication\" }}"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity }}"
            },
            {
              "name": "category",
              "value": "firewall"
            },
            {
              "name": "hostname",
              "value": "={{ $json.serverInfo.name }}"
            },
            {
              "name": "ip",
              "value": "={{ $json.serverInfo.ip }}"
            },
            {
              "name": "status",
              "value": "pending"
            },
            {
              "name": "logTrace",
              "value": "={{ $json.rawLogs ? $json.rawLogs.join(\"\\n\") : \"No log details available\" }}"
            },
            {
              "name": "suggestedAction",
              "value": "Run 'sudo firewall-cmd --permanent --add-port=8000/tcp' and 'sudo firewall-cmd --reload' to open port 8000"
            },
            {
              "name": "metrics",
              "value": "={{ JSON.stringify({\"anomalyScore\": $json.anomalyScore}) }}"
            },
            {
              "name": "aiGenerated",
              "value": "true"
            },
            {
              "name": "reversible",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Firewall Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4780,
        1280
      ],
      "id": "send-firewall-alert"
    }
  ],
  "connections": {
    "Batch Logs for Anomaly Detection1": {
      "main": [
        [
          {
            "node": "Call Anomaly Detection API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Server Metrics1": {
      "main": [
        [
          {
            "node": "Split by Server1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Server1": {
      "main": [
        [
          {
            "node": "Format for Anomaly Detection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Anomaly Detection1": {
      "main": [
        [
          {
            "node": "Batch Logs for Anomaly Detection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Anomaly Detection API1": {
      "main": [
        [
          {
            "node": "Generate Fallback Anomaly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Anomaly Results1": {
      "main": [
        [
          {
            "node": "Send Firewall Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Collect Server Metrics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Fallback Anomaly Data": {
      "main": [
        [
          {
            "node": "Process Anomaly Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bb6e95beca6d2a53c912ba120219a4141c1218bff6e02e0f9ab8dd704855e50"
  }
}
